.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* :root {} */

body {
    height: 100vh;
    background-color: rgb(242, 233, 226);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.card {
    background-color: #fff;
    height: 60vmin;
    width: 80vmin;
    border-radius: 2rem;
}

img {
    float: left;
    height: 100%;
    width: auto;
    overflow: hidden;
    border-radius: 2rem 0 0 2rem;
}

.button {
    color: #fff;
    padding: .7em;
    background-color: rgb(61, 129, 104);
}